# C++
[Bb]uild/
[Bb]uild*/
ipch/
.vscode/*
.vs/
!.vscode/cmake-variants.yaml

*.dll
*.lib
*.exe
*.dylib
*.so

asiosdk/
asiosdk*/
asiosdk.zip
asiosdk*.zip
asio.zip

relative/
*.sig
*.wav
*.wave
*.aiff
*.aifc
*.csv

.DS_Store

debug.log