[submodule "3rdparty/mahi-gui"]
	path = 3rdparty/mahi-gui
	url = https://github.com/mahilab/mahi-gui
[submodule "3rdparty/cereal"]
	path = 3rdparty/cereal
	url = https://github.com/USCiLab/cereal
[submodule "3rdparty/portaudio"]
	path = 3rdparty/portaudio
	url = https://git.assembla.com/portaudio.git
